<!-- IMAGE SLIDE  -->
<div *ngIf="(slideFormat === 'Image')"  class="imagePresentar" [style.background]="backgroundImg">

</div>
<!-- {{slideBackground}} -->

<!-- 📊📊📊📊📊📊📊📊📊📊📊📊📊📊📊📊📊📊📊📊 SUMMARY SLIDE  📊📊📊📊📊📊📊📊📊📊📊📊📊📊📊📊📊📊📊📊-->
<div *ngIf="(slideFormat === 'NameSummary')" class="summaryPresentar summary">
    <div class="summaryLabel">Summary</div>
    <div class="summaryButtons">
        <div style="display: flex; flex-direction: row; justify-content: space-between;align-items: center">
            <button (click)="changeSummaryList('Positive')" mat-raised-button
                style="margin-right: 5px;background-color: white;">Positive</button>
            <button (click)="changeSummaryList('Neutral')" mat-raised-button
                style="margin-right: 5px; background-color: white;" color="primary">Neutral</button>
            <button (click)="changeSummaryList('Negative')" mat-raised-button
                style="margin-right: 5px; background-color: white;">Negative</button>

        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between;align-items: center">
            <button (click)="changeSummaryList('New Names')" mat-raised-button
                style="margin-right: 5px;background-color: white;color:black">New
                Names</button>
            <button (click)="changeSummaryList('chart')" mat-mini-fab
                style="margin-right: 5px;background-color: white;color:black;outline: none;">
                <mat-icon>leaderboard</mat-icon>
            </button>
        </div>
    </div>

    <div class="summaryMainContent">

        <div *ngIf="summaryPositive" class="summaryPostives">
            <div class="summaryListDisplay" style="background-color: green; color: white;">
                <div (click)="clickedSummaryName(item.Name, item.NameToDisplay)"
                    *ngFor="let item of totalPositiveNames">{{item.Name.split('|')[0]}}</div>
                <!-- <div *ngFor="let item of fonts">{{item}}</div> -->
            </div>
        </div>
        <div *ngIf="summaryNeutral" class="summaryPostives">
            <div class="summaryListDisplay" style="background-color: orange; color: white;">
                <div (click)="clickedSummaryName(item.Name, item.NameToDisplay)" *ngFor="let item of totalNeutralNames">
                    {{item.Name.split('|')[0]}}</div>
                <!-- <div *ngFor="let item of fonts">{{item}}</div> -->
            </div>
        </div>
        <div *ngIf="summaryNegative" class="summaryNegative">
            <div class="summaryListDisplay" style="background-color: red; color: white;">
                <div (click)="clickedSummaryName(item.Name, item.NameToDisplay)"
                    *ngFor="let item of totalNegativeNames">{{item.Name.split('|')[0]}}</div>
                <!-- <div *ngFor="let item of fonts">{{item}}</div> -->
            </div>
        </div>
        <div *ngIf="summaryNewNames" class="summaryNew_names">
            <div class="summaryListDisplay" style="background-color: purple; color: white;">
                <div (click)="clickedSummaryName(item.NameToDisplay,item.Name)" *ngFor="let item of totalNewNames">
                    {{item.NameToDisplay}}</div>
                <!-- <div *ngFor="let item of fonts">{{item}}</div> -->
            </div>
        </div>
    </div>
    <div *ngIf="summaryChart" class="summaryChart"
        style="display: flex;flex-direction: column;     align-items: center;">

        <!-- <div echarts [options]="chartOption" (chartClick)="onChartClick($event)"></div> -->
        <ngx-charts-bar-vertical [hidden]="showRankedNames" [view]="chartDimension" [customColors]="colorScheme"
            [results]="pieChart" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel" (select)="onChartClick($event)">
        </ngx-charts-bar-vertical>

    </div>

    <div style="position: fixed;bottom: 0px;">

        <div class="summaryTextarea">
            <mat-form-field style="margin-left:20px; width: 800px;margin-right: 10px;" appearance="outline">
                <mat-label>Additional comments</mat-label>
                <input type="text" matInput placeholder="Additional comments">
            </mat-form-field>

            <button class="summaryTextAreaButton" mat-raised-button>Save</button>
        </div>

    </div>
</div>

<div *ngIf="(slideFormat === 'NameEvaluation')">
    <div class="singleNameSlide">
        <div class="nameContainer">
            <div [style.font-family]="font2" [style.font-size]="'30px'" class="item1" style="color: #6c7983;">
                {{category}}</div>
            <div class="testName" [style.font-family]="font2" Comirnaty
                [style.font-size]="(testName.length>8)?'120px':'150px'" [innerHTML]="testName">
            </div>
            <!-- <img [src]="TestnameImagePath" alt="">IMAGE -->
            <!-- <div [style.font-family]="font3" [style.font-size]="'30px'" class="pronounciation">comir-nati</div> -->
            <div [style.font-family]="font2" [style.font-size]="'35px'" style="text-align: center;
                line-height: 40px;
                font-family: sans-serif;
                font-size: 30px;
                color: #6c7983;
                width: 45vw;" class="rationale">{{rationale}}
            </div>
        </div>
        <!--👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽VOTE EMOJI BUTTONS 👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽-->
        <div class="voteIcons">
            <!-- POSITIVE BUTTON  -->
            <div>
                <button *ngIf="displayPositiveBox && (nwPositiveVoteUsers.length > 0)"
                    (mouseleave)="displayPositiveBox = false" class="voteOverviewBox positiveUserList">
                    <div class="listAlign">
                        <span *ngFor="let item of nwPositiveVoteUsers">{{item}}</span>
                    </div>
                </button>
                <div (mouseenter)="displayOverviewBox('positiveBox')">
                    <button *ngIf="positiveChecked" [matBadge]="positiveUsersVote" class="voteIconButtonGreen"
                        (click)="selectedOpt('Positive');" mat-icon-button>
                        <mat-icon>toggle_on</mat-icon>
                    </button>
                    <button *ngIf="!positiveChecked" [matBadge]="positiveUsersVote"
                        class="voteIconButton voteIconButton1" (click)="selectedOpt('Positive');" mat-icon-button>
                        <mat-icon>toggle_off</mat-icon>
                    </button>
                </div>
                <span>positive</span>
            </div>
            <!-- NEUTRAL BUTTON -->
            <div>
                <button *ngIf="displayNeutralbox && (nwNeutralVoteUsers.length > 0)"
                    (mouseleave)="displayNeutralbox = false" class="voteOverviewBox neutralUserList">
                    <div class="listAlign">
                        <span *ngFor="let item of nwNeutralVoteUsers">{{item}}</span>
                    </div>
                </button>
                <div (mouseenter)="displayOverviewBox('neutralBox')">
                    <button *ngIf="neutralChecked" [matBadge]="NeutralUsersVote" class="voteIconButtonYellow"
                        (click)="selectedOpt('Neutral');" mat-icon-button>
                        <mat-icon>toggle_on</mat-icon>
                    </button>
                    <button *ngIf="!neutralChecked" [matBadge]="NeutralUsersVote" class="voteIconButton voteIconButton2"
                        (click)="selectedOpt('Neutral');" mat-icon-button>
                        <mat-icon>toggle_off</mat-icon>
                    </button>
                </div>
                <span>neutral</span>
            </div>
            <!-- NEGATIVE BUTTON -->
            <div>
                <button *ngIf="displayNegativeBox && (nwNegativeVoteUsers.length > 0)"
                    (mouseleave)="displayNegativeBox = false" class="voteOverviewBox negativeUsersList">
                    <div class="listAlign">
                        <span *ngFor="let item of nwNegativeVoteUsers">{{item}}</span>
                    </div>
                </button>

                <div (mouseenter)="displayOverviewBox('negativeBox')">
                    <button *ngIf="negativeChecked" [matBadge]="NegativeUsersVote" class="voteIconButtonRed"
                        (click)="selectedOpt('Negative');" mat-icon-button>
                        <mat-icon>toggle_on</mat-icon>
                    </button>
                    <button *ngIf="!negativeChecked" [matBadge]="NegativeUsersVote"
                        class="voteIconButton voteIconButton3" (click)="selectedOpt('Negative');" mat-icon-button>
                        <mat-icon>toggle_off</mat-icon>
                    </button>
                </div>
                <span>negative</span>
            </div>
            <!-- RECRAFT BUTTON -->
            <div>
                <button *ngIf="displayAllUsersBox && (HEROES.length > 0) " (mouseleave)="displayAllUsersBox = false"
                    class="voteOverviewBox allUsersList">
                    <div class="listAlign">
                        <span style="display: flex; flex-direction: row;" *ngFor="let item of HEROES; let i = index">
                            <mat-icon (click)="deleteVoteUser(i)"
                                style="position: relative;top: 8px;font-size: xx-small; ">cancel</mat-icon>
                            {{item.name}}
                        </span>
                    </div>
                </button>
                <div (mouseenter)="displayOverviewBox('allUsersBox')">
                    <button *ngIf="recraftChecked" [matBadge]="allVoters" class="voteIconButtonPurple"
                        (click)="recraft();" mat-icon-button>
                        <mat-icon>toggle_on</mat-icon>
                    </button>
                    <button *ngIf="!recraftChecked" [matBadge]="allVoters" class="voteIconButton voteIconButton4"
                        (click)="recraft();" mat-icon-button>
                        <mat-icon>toggle_off</mat-icon>
                    </button>
                </div>
                <span>re-craft</span>
            </div>
        </div>

    </div>


    <!-- BI BRAND GO VOTE BUTTON 🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃-->
    <div class="smartRadialButton">

        <button [ngClass]="(isGoVoteOn)?'GO':'GO_Off'" mat-icon-button (click)="goVote()">
            GO
        </button>
        <button *ngIf="displayTallyButtons" class="neutralBadgeTally GG" [matBadge]="totalPositive" mat-icon-button
            (click)="setAllNamesIcon('thumb_down_off_alt', 'purple')">
            N
        </button>
        <button *ngIf="displayTallyButtons" class="positiveBadgeTally GG" [matBadge]="totalNeutral" mat-icon-button
            (click)="setAllNamesIcon('sentiment_very_satisfied', 'yellow')">
            P
        </button>



        <!-- COMMENT AND NEW NAMES TEXTAREAS -->
        <div class="textareas">
            <mat-form-field fxFlex="50" id="newNameFormField" appearance="outline"
                style="max-width: 45%; padding: 15px 20px;">
                <input #txtNewName matInput placeholder="" [(ngModel)]="newNames"
                    style="font-size: 30px;text-align: center;">
            </mat-form-field>
            <mat-label class="newNamesLabel" style="color: #454e56;">new names</mat-label>
            <mat-form-field fxFlex="50" id="commentsFormField" appearance="outline"
                style="max-width: 45%; padding: 15px 20px;">
                <input #txtComments matInput placeholder="" [(ngModel)]="newComments"
                    style="font-size: 30px;text-align: center;">
            </mat-form-field>
            <mat-label class="commentsLabel" style="color: #454e56;">comments</mat-label>
        </div>


    </div>
    <!--🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃 END  BI BRAND GO VOTE BUTTON -->
</div>

<!--💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲💲 END SINGLE NAME -->

<!-- MULTIPLE NAME -->

<div *ngIf="(slideFormat === 'MultipleNameEvaluation')">

    <div [style.font-family]="font2" [style.font-size]="'30px'" style="margin: 20px;margin-bottom: 30px;">
        {{category}}</div>

    <div class="subMainContainer">

        <div class="groupSlideContent" [style.height]="groupSlideHeihtValue + 'px'"
            [style.line-height]="groupSlidelineHeightValue + 'px'">

            <div class="rankingBox" style="display: flex; flex-direction: row; "
                *ngFor="let separateName of groupName; let i = index;">

                <!-- 😀 RANK ICON-->
                <button disableRipple class="groupNameVoteItem"
                    style="margin: 18px 0px 0px -17px;position: absolute;outline: none;"
                    *ngIf="separateName.split('|')[0].length > 0" mat-icon-button color="warn" aria-label="aria">
                    <mat-icon (click)="toggleRankIcon(rankIcon, i)" [style.color]="rankIcon[i].color"
                        class="voteIconRank">
                        <div [innerHTML]="rankIcon[i].icon"></div>
                    </mat-icon>
                </button>

                <div class="groupNameItemContainer" style="margin-left: 10px;padding-left: 20px;">
                    <!-- TEST 😱 NAME -->
                    <div *ngIf="i !== selectNameItemIndex" (click)="selectetdNameIndex(i, $event)"
                        [style.font-size]="groupTestNameFontSize + 'px'" class="groupNameItem"
                        [innerHTML]="separateName.split('|')[0]">
                        <!-- {{separateName.split('|')[0]}} -->
                    </div>
                    <!--NOTATION -->
                    <div *ngIf="i !== selectNameItemIndex" class="groupNameItemNotation"
                        [style.font-size]="(groupTestNameFontSize-20) + 'px'" [innerHTML]="separateName.split('|')[1]">
                        <!-- {{ separateName.split('|')[1]}} -->
                    </div>
                    <div *ngIf="i !== selectNameItemIndex" class="groupNameItemNotation"
                        [style.font-size]="(groupTestNameFontSize-20) + 'px'" [innerHTML]="separateName.split('|')[2]">
                        <!-- {{ separateName.split('|')[1]}} -->
                    </div>
                    <div class="groupNameIetmRationale" (mouseleave)="selectNameItemIndex = ''"
                        (click)="selectNameItemIndex = ''" *ngIf="i === selectNameItemIndex" [style.left]="myleft"
                        [style.top]="mytop" [innerHTML]="groupRationale[i]">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- FAVORITE RANK ALL ICON DEPRECTED-->
    <!-- <button [ngClass]="(isFavoriteOn)?'heart-favorite':'heart-favorite-Off'" mat-icon-button
                    (click)="setAllNamesIcon('favorite', '#ee0278')">
                    <mat-icon class="heart-favorite-icon">favorite</mat-icon>
                </button>
                <button class="G1 GG" mat-icon-button (click)="setAllNamesIcon('sentiment_very_satisfied', '#ee7802')">
                    <mat-icon>sentiment_very_satisfied</mat-icon>
                </button>
                <button class="G4 GG" mat-icon-button (click)="setAllNamesIcon('thumb_down_off_alt', '#0278ee')">
                    <mat-icon>thumb_down_off_alt</mat-icon>
                </button> -->
    <!-- FAVORITE RANK ALL ICON -->
    <button [ngClass]="(isFavoriteOn)?'heart-favorite':'heart-favorite-Off'" mat-icon-button
        (click)="setAllNamesIcon('check', '#09bf06')">
        <mat-icon class="heart-favorite-icon">task_alt</mat-icon>
    </button>
    <button class="G1 GG" mat-icon-button (click)="setAllNamesIcon('thumb_up', '#ee7802')">
        <mat-icon>thumb_up</mat-icon>
    </button>   
    <button class="G4 GG" mat-icon-button (click)="setAllNamesIcon('thumb_down', '#0278ee')">
        <mat-icon>thumb_down</mat-icon>
    </button>




    <!-- <button class="G2 GG" mat-icon-button>
                        C
                    </button>
            
                    <button class="G3 GG" mat-icon-button >
                        P
                    </button> -->
</div>

<!-- INFO SLIDE QR CODE -->
<div *ngIf="(slideFormat === 'info')">

    SLIDE info
</div>