@mixin BoxShadow($dp) {
    @if $dp==0 {
        box-shadow: none;
    } @else if $dp==1 {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    } @else if $dp==2 {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    } @else if $dp==3 {
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    } @else if $dp==4 {
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    } @else if $dp==6 {
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
            0 3px 5px -1px rgba(0, 0, 0, 0.2);
    } @else if $dp==8 {
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12),
            0 5px 5px -3px rgba(0, 0, 0, 0.2);
    } @else if $dp==9 {
        box-shadow: 0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12),
            0 5px 6px -3px rgba(0, 0, 0, 0.2);
    } @else if $dp==12 {
        box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12),
            0 7px 8px -4px rgba(0, 0, 0, 0.2);
    } @else if $dp==16 {
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12),
            0 8px 10px -5px rgba(0, 0, 0, 0.2);
    } @else if $dp==24 {
        box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12),
            0 11px 15px -7px rgba(0, 0, 0, 0.2);
    }
}
.summaryPresentar {
    border: solid 5px darkgrey;
    width: 948px;
    height: 714px;
    margin: 0;
    position: absolute;
    top: 53%;
    left: 50%;
    -ms-transform: translate(-50%, -53%);
    transform: translate(-50%, -53%);
    border-radius: 3px;
    @include BoxShadow(6);
}


.summary {
    .summaryLabel {
        margin: 30px 20px;
        font-size: 40px;
        max-height: 10%;
        position: fixed;
        top: 10px;
    }

    .summaryButtons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .summaryMainContent {
        overflow-y: scroll;
        max-height: 480px;
        margin-top: 17px;
    }

    .summaryMainContent::-webkit-scrollbar {
        display: none;
    }

    .summaryTextarea {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .summaryTextAreaButton {
        background-color: yellowgreen;
        margin-top: -22px;
    }

    .summaryListDisplay {
        display: flex;
        flex-direction: column;
        display: flex;
        justify-content: left;
        align-items: left;
        font-size: 36px;
        margin: 20px;
        line-height: 35px;
    }
}
.nameContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 948px;
    height: 525px;
}
.imagePresentar {
    border: solid 5px darkgrey;
    width: 948px;
    height: 714px;
    margin: 0;
    position: absolute;
    top: 53%;
    left: 50%;
    -ms-transform: translate(-50%, -53%);
    transform: translate(-50%, -53%);
    border-radius: 3px;
    // @include BoxShadow(6);
}