<div (click)="noClickanyWhere()" class="page">
    <div class="mainContainerPresent mat-elevation-z8" [style.background-image]="slideNameBackground">
        <mat-progress-bar mode="determinate" [value]="currentProgress" color="warn" style="z-index: 99999;height: 5px;">
        </mat-progress-bar>

        <app-content-table *ngIf="isTableContent" class="tableOfContent" style="overflow-y:scroll ; overflow-x: hidden;"
            [slideData]="slideData" (pageNumberChange)="pageNumberChange($event)"></app-content-table>

        <app-setting-box *ngIf="isSettings" [projectName]="projectName"></app-setting-box>
        <button (click)="moveRight()" class="menu-left-icon" mat-icon-button>
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>

        <button (click)="moveLeft1()" class="menu-right-icon" mat-icon-button>
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <app-slides [backgroundImg]="slideBackground" [slideFormat]="slideType"></app-slides>
        <app-rigth-side-bar></app-rigth-side-bar>

     
    </div>
</div>
<app-qr-code [qrCode]="myAngularxQrCode" [diplayQr]="isQRcode"></app-qr-code>