<div class="container">
    <div class="container-center">
        
        <div class="Colum1">
        <img class="img1" src="assets/LOGO-RESPO.PNG"  alt="">
        <img class="img2" src="assets/LOGO.PNG"  alt="">

</div>
        <div class="Colum2">
        <img class="img-text-city" src="assets/city.PNG"  alt="">
        <img class="img-text-city" src="assets/city2.PNG"  alt="">

</div>
       
        <div class="Colum3">
        <img class="img1" src="assets/text1.PNG"  alt="">
        <img class="img1" src="assets/text2.PNG"  alt="">

</div>
<div class="Colum4">
    <img class="img-text-city3" src="assets/city3.PNG"  alt="">
    <img class="img-text-city4" src="assets/city4.PNG"  alt="">

</div>

    </div>
    <div class="menu-container">
        <!-- <mat-progress-bar class="progress-bar" mode="determinate" value="40"></mat-progress-bar> -->
  
    </div>
   
    <div class="bar-menu">
        <!-- <mat-icon>home</mat-icon>

        <mat-icon>search</mat-icon>
        <mat-icon>phone_iphone</mat-icon>
        <mat-icon>help</mat-icon>
        <mat-icon>expand_more</mat-icon> -->
    </div>
</div>